# Visual Studio
.vs/
*.db
*.db-shm
*.db-wal
*.ipch
*.suo
*.user
*.userosscache
*.sln.doccache

# Build outputs (Global)
[Dd]ebug/
[Rr]elease/
x64/
*.pdb
*.obj
*.iobj
*.ipdb
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.exe
*.dll
*.lib
*.recipe
*.ilk
*.res
*.enc
*.FileListAbsolute.txt
*.CopyComplete

# --- EXCEPTIONS: UNLOCK LIBRARIES ---
# We must un-ignore the folders first, then the files
!MouseShifter/SDL2\ LIBS/
!MouseShifter/SDL2\ LIBS/lib/
!MouseShifter/SDL2\ LIBS/lib/x64/
!MouseShifter/SDL2\ LIBS/lib/x64/SDL2.dll
!MouseShifter/SDL2\ LIBS/lib/x64/SDL2.lib
!MouseShifter/SDL2\ LIBS/lib/x64/SDL2main.lib

!MouseShifter/vJoy/
!MouseShifter/vJoy/vJoyInterface.dll
!MouseShifter/vJoy/vJoyInterface.lib

# Allow the specific DLLs in the source root
!MouseShifter/RawMouseInput.dll
!MouseShifter/xInputBlocker.dll

# Packages
packages/
